# Copied/templated to /etc/infokiosk/ on install
ADMIN_PASSWORD=changeme
SECRET_KEY=please-change-me
AGENT_TOKEN=please-change-me
ADMIN_BIND=0.0.0.0
ADMIN_PORT=8000
AGENT_BIND=0.0.0.0
AGENT_PORT=8001
# Comma-separated list of kiosk hostnames for the admin:
KIOSK_PEERS=Infopoint1.local,InfoPoint2.local
THIS_KIOSK_NAME=Infopoint1

